$aside-width: 300px
$aside-border: 1px
$aside-outer-width: $aside-width + ($padding * 2) + $aside-border

.wrapper
  max-width: $width + $aside-outer-width

.aside > p
  font-size: 0.8rem

@media #{$breakpoint}
  .container
    display: flex

  .aside
    flex: 0 0 $aside-width
    border-left: $aside-border solid $foreground
    margin-left: $padding
    padding-left: $padding

.donate
  background-color: #009cde
  border-radius: 5px
  color: white
  display: block
  font-size: 1rem
  margin-bottom: 5px
  padding: 10px
  text-align: center
  text-decoration: none
  text-shadow: none
  user-select: none
  white-space: nowrap

  &:hover
    box-shadow: inset 0 0 100px 100px rgba(255, 255, 255, 0.2)

  &:focus
    box-shadow: -1px -1px 18px 1px rgba(0, 0, 0, 0.3) inset

.downloads
  color: $background
  margin: 0
  text-shadow: 1px 1px white

  .fa
    cursor: default
    flex: 0 0 auto
    font-size: 3.3rem
    float: left // in case flexbox is not supported by the browser

  h3
    font-family: 'Roboto', sans-serif
    font-size: 1.3rem
    font-weight: bold
    margin-bottom: 5px

  a
    color: #003CCB
    display: inline-block
    font-weight: 500

  .size
    &:before
      content: '('
    &:after
      content: ')'

  ul
    margin-bottom: 0

    & + p
      margin-top: 5px

  > li
    background-color: $foreground
    background-image: linear-gradient(darken($foreground, 5%), darken($foreground, 14%))
    border-radius: 7px
    border: 1px solid white
    display: block
    list-style-type: none
    margin-bottom: $padding
    overflow: hidden
    padding: 12px
    padding-left: 5px
    display: flex
    align-items: center
