.drag
  $height: 250px

  background-color: $table-row-even
  border-radius: 7px
  border: 4px dashed $foreground
  font-size: 2em
  height: $height
  line-height: $height
  text-align: center
  vertical-align: middle

.type
  margin-left: 0

  li
    background-color: $table-row-even
    border-radius: 7px
    border: 1px solid $foreground
    list-style-type: none
    margin-bottom: $margin

  a
    display: block
    text-decoration: none
    font-weight: normal
    padding: $padding
    display: flex
    align-items: center

  .icon
    font-size: 2.3em
    flex: 0 0 auto

  .body
    flex: 1 1 auto
    margin-left: 5px

  .name
    font-size: 1.3em
    text-decoration: underline
    font-weight: bold

@mixin input-border($color)
  border-color: $color

  &:focus
    box-shadow: 0 0 3px darken($color, 10%)

label
  font-weight: bold

input, textarea, button, select
  background-color: darken($background, 2%)
  border-radius: 3px
  font-size: 1rem
  border: 1px solid $foreground
  color: white
  outline: none
  box-shadow: 0 0 2px black
  font: inherit
  padding: 0.4em
  display: block

input, textarea
  box-sizing: border-box
  margin: 0.4em 0 0.4em 0
  width: 100%

  &:focus
    +input-border($foreground)

  &::placeholder
    color: mix($foreground, $background, 50%)
    font-style: italic
    opacity: 1

  &:invalid
    box-shadow: none

input:invalid, textarea:invalid
  +input-border(red)

textarea
  resize: vertical

form button
  &:not([disabled])
    cursor: pointer
    background-image: linear-gradient(darken($foreground, 9%), darken($foreground, 9%))
    color: darken($background, 5%)

    &:active
      $shadow: mix($foreground, $background, 60%)
      box-shadow: inset 0 0 8px 4px $shadow, inset 0 0 8px 4px $shadow
      border-color: $shadow

  &:disabled
    color: mix($foreground, $background, 50%)
    cursor: not-allowed

  &.main
    padding-left: 1em
    padding-right: 1em
    font-weight: bold

textarea#about
  margin-top: 0

.group
  background-color: $table-row-odd
  border: 1px solid $foreground
  border-radius: 5px
  padding: $padding
  margin-bottom: $margin

.tabbar
  display: inline

  .tab-list
    float: right
    font-size: 0.8rem

  .tab-btn
    display: inline
    padding: 3px 7px 2px 7px
    border: 1px solid $foreground
    border-left-style: none
    border-bottom-style: none
    border-radius: 0
    cursor: pointer
    box-shadow: none
    margin: 0

    &:first-child
      border-top-left-radius: 4px
      border-left-style: solid
    &:last-child
      border-top-right-radius: 4px

    &.active
      background-color: $table-row-even
      font-weight: bold

  .tab
    @extend .group
    clear: both
    border-top-right-radius: 0

.link-editor
  ul
    list-style-type: none
    margin-left: 0

  form
    display: flex

  input
    margin: 0

  .name-col, .url-col, .btn-col
    margin-left: 7px

  .name-col
    flex: 1 1 35%

  .url-col
    flex: 1 1 65%

  .btn-col
    flex: 0 0 auto
