$background: #3b302b
$foreground: #e1ffda
$link: #d8ffcf
$padding: 10px
$width: 850px
$breakpoint: "screen and (min-width: #{$width * 0.9})"
$margin: 0.8rem

@import 'meyer-reset'

html
  background-color: $background
  color: $foreground
  font-family: 'Roboto', sans-serif
  font-size: 16px
  text-shadow: 1px 1px black

body
  margin: auto
  max-width: $width
  padding-bottom: 1rem - $margin
  padding-left: $padding
  padding-right: $padding

h1, h2
  margin-bottom: $margin

p, ul, ol, form
  &:not(:last-child)
    margin-bottom: $margin

h1, h2
  font-family: 'Roboto Slab', serif
  font-weight: 700

p, li
  line-height: 1.15

h1
  border-bottom: 1px solid $foreground
  font-size: 2.3rem
  font-weight: 700
  padding-bottom: 7px

h2
  font-size: 1.5rem

img
  max-width: 100%

a
  color: $link
  font-weight: bold
  text-decoration: underline

  &.egg
    font-weight: inherit
    text-decoration: inherit

u
  text-decoration: underline

small
  font-size: 0.6em

ul li
  list-style-type: disc

ol li
  list-style-type: decimal

ul, ol
  margin-left: 1em

b
  font-weight: bold

noscript
  color: #fb4d23

.clearfix
  &:after
    visibility: hidden
    display: block
    content: " "
    clear: both

@mixin tab($color)
  border-color: lighten($color, 5%)
  background-color: $color
  background-image: linear-gradient(lighten($color, 5%), darken($color, 9%))
  text-shadow: 1px 1px darken($color, 25%)

  &:hover
    background-color: lighten($color, 5%)
    background-image: linear-gradient(lighten($color, 10%), darken($color, 4%))

  &:active
    background-color: darken($color, 5%)
    background-image: linear-gradient($color, darken($color, 14%))

.tabbar
  @extend .clearfix

  margin: 0

  li
    float: left
    list-style-type: none

    &:not(:last-child)
      margin-right: 4px

  a
    color: white
    border: 1px solid transparent
    border-top-style: none
    border-bottom-left-radius: 6px
    border-bottom-right-radius: 6px
    display: block
    font-size: 0.9rem
    font-weight: normal
    min-width: 100px
    padding-bottom: 3px
    padding-left: 5px
    padding-right: 5px
    padding-top: 3px
    text-align: center
    text-decoration: none

  .active a
    font-weight: bold
    padding-bottom: 4px
    padding-top: 4px

  .reapack a
    +tab(orange)

  .repos a
    +tab(steelblue)

.error
  border: 1px solid $foreground
  border-radius: 5px
  background-color: darken(red, 5%)
  padding: 10px
  text-shadow: none

.hidden
  visibility: hidden

.footer, .stats
  font-size: 0.7rem
  opacity: 0.7

@media #{$breakpoint}
  .stats
    float: right
    text-align: right

body
  &.index
    @import 'index'
  &.repos
    @import 'repos'
