$background: #332A25
$foreground: #D7FACB
$padding: 10px
$width: 870px

@import "meyer-reset"
@import url(https://fonts.googleapis.com/css?family=Roboto+Slab:400,700)
@import url(https://fonts.googleapis.com/css?family=Roboto)
@import url(https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css)

html
  background-color: $background
  color: $foreground
  font-family: 'Roboto', sans-serif
  font-size: 16px
  text-shadow: 1px 1px black

body
  margin: auto
  max-width: $width
  padding-left: $padding
  padding-right: $padding

p
  margin-bottom: 1rem
  margin-top: 1rem

h1, h2
  @extend p
  font-family: 'Roboto Slab', serif
  font-weight: 700
  margin-bottom: 1.2rem
  margin-top: 1.5rem

h1
  border-bottom: 1px solid $foreground
  font-size: 2.3rem
  font-weight: 700
  padding-bottom: 7px

h2
  font-size: 1.5rem

img
  max-width: 100%

a
  color: $foreground
  font-weight: bold
  text-decoration: underline

#screenshot
  text-align: center

  img
    box-shadow: 0px 0px 10px #777
    opacity: 0.9
    transition: opacity 0.5s

    &:hover
      opacity: 1

#requirements, #version
  font-size: 0.8rem
  margin: 0

#downloads
  color: $background
  text-shadow: 1px 1px white

  h6
    font-size: 1.3rem
    font-weight: bold
    margin-bottom: 5px

  a
    color: inherit

  .fa
    font-size: 3.2rem
    float: left
    padding-top: 6px
    padding-right: 10px

  ul li
    margin-bottom: 3px
    list-style-type: disc
    list-style-position: inside
    color: blue

  > li
    background: $foreground
    border-radius: 7px
    margin-bottom: 10px
    overflow: hidden
    padding: 14px
    display: block
    background-repeat: no-repeat
    background-position: 10px center

@media screen and (min-width: $width)
  #downloads > li
    float: left
    -moz-box-sizing: margin-box
    -webkit-box-sizing: margin-box
    box-sizing: border-box
    width: ($width / 3) - 8
    height: 88px
    &:not(:last-child)
      margin-right: 10px

  #requirements
    float: left

  #version
    float: right
    text-align: right

.clearfix
  clear: both
