$background: #3B302B
$foreground: #D8FFCF
$padding: 10px
$width: 870px

@import 'bourbon/bourbon'
@import 'meyer-reset'

@import url(https://fonts.googleapis.com/css?family=Roboto+Slab:400,700)
@import url(https://fonts.googleapis.com/css?family=Roboto:400,500)
@import url(https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css)

html
  background-color: $background
  color: $foreground
  font-family: 'Roboto', sans-serif
  font-size: 16px
  text-shadow: 1px 1px black

body
  margin: auto
  max-width: $width
  padding-left: $padding
  padding-right: $padding

p, ul, h1, h2
  margin-bottom: 0.8rem

h1, h2
  font-family: 'Roboto Slab', serif
  font-weight: 700
  margin-top: 1rem

p, li
  line-height: 1.15

h1
  border-bottom: 1px solid $foreground
  font-size: 2.3rem
  font-weight: 700
  margin-top: 1.5rem
  padding-bottom: 7px

h2
  font-size: 1.5rem

img
  max-width: 100%

a
  color: $foreground
  font-weight: bold
  text-decoration: underline

u
  text-decoration: underline

.screenshot
  text-align: center

  img
    box-shadow: 0px 0px 10px #777777
    opacity: 0.9
    transition: opacity 0.5s

    &:hover
      opacity: 1

ul li
  list-style-position: inside
  list-style-type: disc

ol li
  list-style-position: inside
  list-style-type: decimal

.index
  background-color: black
  border-radius: 5px
  font-family: monospace
  font-size: 0.75rem
  font-weight: normal
  padding: 1px
  padding-left: 7px
  padding-right: 7px
  text-decoration: none

.help
  vertical-align: super
  font-size: 0.8rem

.requirements, .version
  font-size: 0.8rem

.downloads
  color: $background
  text-shadow: 1px 1px white
  margin: 0

  .fa
    float: left
    font-size: 3.3rem
    padding-right: 5px
    padding-top: 5px

  h3
    font-size: 1.3rem
    font-weight: bold
    margin-bottom: 5px

  a
    color: #003CCB
    display: inline-block
    font-weight: 500

  .size
    font-size: 0.7rem

    &:before
      content: '('
    &:after
      content: ')'

  ul
    margin: 0

  > li
    @include linear-gradient(darken($foreground, 5%), darken($foreground, 14%), $fallback: $foreground)
    border-radius: 7px
    border: 1px solid white
    display: block
    margin-bottom: 10px
    overflow: hidden
    padding: 14px
    padding-left: 5px

.stats, .footer
  font-size: 0.7rem
  opacity: 0.7

@media screen and (min-width: $width)
  .donate
    float: right
    margin-top: -3.5rem

  .downloads
    @include align-items(stretch)
    @include display(flex)
    @include flex-direction(row)
    @include justify-content(space-between)

    > li
      @include flex(1)
      &:not(:last-child)
        margin-right: 10px

  .version, .stats
    float: right
    text-align: right

  .stats
    margin-top: 0
