[Unit]
Description=Refresh reapack.com data and rebuild

[Service]
Type=oneshot
User=change_me
Group=change_me
WorkingDirectory=/CHANGE/ME
SyslogIdentifier=update-reapack.com
Environment="RUBYOPT=-EUTF-8 -W0"
Environment=NODE_OPTIONS=--openssl-legacy-provider
ExecStart=bundle exec ./update.rb
ExecStart=bundle exec middleman build
